/* Lists */
#list-pane {
	-fx-background-color: #0a0a0a;
}

.list-title-label {
	-fx-text-fill: #ffffff;
	-fx-font-size: 20px;
	-fx-font-weight: bold;
}

.list-entry-label {
	-fx-text-fill: #ffffff;
	-fx-font-size: 14px;
	-fx-font-weight: bold;
}

/*  Weather	 */
#weather-pane {
	-fx-background-color: #0a0a0a;
}

#place-label {
	-fx-text-fill: #ffffff;
	-fx-font-size: 26px;
	-fx-font-weight: bold;
	-fx-padding: 50px 0 0 50px;
}

#day-selection {
	-fx-padding: 20px 50px 20px 50px;
	-fx-spacing: 50px;
}

.date-button {
	-fx-background-color: #161616;
	-fx-text-fill: #ffffff;
	-fx-border-color: #313538;
	-fx-background-radius: 15px;
	-fx-border-width: 1px;
	-fx-border-radius: 15px;
	-fx-font-size: 14px;
	
	-fx-min-width: 100px;
	-fx-min-height: 40px;

	-fx-pref-width: 100px;
	-fx-pref-height: 40px;

	-fx-max-width: 100px;
	-fx-max-height: 40px;
}

#control-pane {
	-fx-background-color: #0a0a0a;
	-fx-border-color: #313538;
	-fx-border-width: 0 0 1px 0;
}

#top-left-buttons {
	-fx-spacing: 20;
}

.menu-list-label {
	-fx-background-color: #0a0a0a;
	-fx-text-fill: #ffffff;
	-fx-font-size: 18px;
	-fx-font-weight: bold;
}

.menu-list-label:pressed {
	
}

#top-right-buttons {
	-fx-spacing: 0;
	-fx-padding: 0;
}

#control-close-button {
	-fx-background-color: #111114;
	-fx-text-fill: #ffffff;
	-fx-background-radius: 0;
}

#control-close-button:hover {
	-fx-background-color: #e81123;
	
}

#control-close-button:pressed {
	-fx-background-color: #91111d;
	
}

#control-settings-button {
	-fx-background-color: #111114;
	-fx-text-fill: #ffffff;
	-fx-background-radius: 0;
}

#control-settings-button:hover {
	-fx-background-color: #29292c;
	
}

#control-settings-button:pressed {
	-fx-background-color: #414143;
	
}

#control-minimize-button {
	-fx-background-color: #111114;
	-fx-text-fill: #ffffff;
	-fx-background-radius: 0;
}

#control-minimize-button:hover {
	-fx-background-color: #29292c;
	
}

#control-minimize-button:pressed {
	-fx-background-color: #414143;
	
}

.menu-frame {
	-fx-background-color: #222222;
	-fx-text-fill: #ffffff;
	-fx-border-color: #313538;
	-fx-border-width: 2px;
	-fx-margin: 4px;
	-fx-padding: 4px;
}

.pane-1 {
	-fx-background-color: #0a0a0a;
	-fx-border-width: 1px;
	-fx-border-color: #313538;
	-fx-spacing: 10px;
	-fx-margin: 10px;
	-fx-padding: 10px;
	/* -fx-background-color: linear-gradient(from 0% 100% to 0% 0%, #000030, #000010); */
}

.pane-1-title {
	-fx-text-fill: #ffffff;
	-fx-font-size: 18px;
	-fx-font-weight: bold;
}

.pane-1-text {
	-fx-text-fill: #dddddd;
}

#temperature-label {
	-fx-text-fill: #dddddd;
	-fx-font-size: 36px;
	-fx-font-weight: bold;
}

#minmaxtemp-label {
	-fx-text-fill: #dddddd;
	-fx-font-size: 20px;
}

#settings-header {
	
}

#settings-header-underline {
	-fx-border-color: #313538;
	-fx-border-width: 0 0 1px 0;
	-fx-pref-width: 80%;
}

.button-1 {
	-fx-background-color: #222222;
	-fx-text-fill: #ffffff;
	-fx-border-radius: 5px;
}

.button-1:hover {
	-fx-background-color: #2d2d2d;
	-fx-text-fill: #ffffff;
}

.button-1:pressed {
	-fx-background-color: #161616;
	-fx-text-fill: #ffffff;
}

.settings-list-label {
	-fx-background-color: #0a0a0a;
	-fx-text-fill: #ffffff;
	-fx-font-size: 12px;
	-fx-font-weight: bold;
}

.settings-list-label:hover {
	-fx-background-color: #555555;
}

.settings-header-label {
	-fx-text-fill: #ffffff;
	-fx-font-size: 20px;
	-fx-font-weight: bold;
}

#login-center-pane {
	-fx-spacing: 30px;
	-fx-padding: 20px;
}

#login-button {
	-fx-background-color: #d53235;
	-fx-text-fill: #ffffff;
	-fx-border-radius: 3px;
	-fx-font-size: 24px;
}

#login-button:hover {
	-fx-background-color: #b62c2e;
}

#login-button:pressed {
	-fx-background-color: #c12e31;
}

.login-text-field {
	-fx-background-color: #161616;
	-fx-text-fill: #ffffff;
	-fx-border-color: #313538;
	-fx-border-width: 1px;
	-fx-border-radius: 3px;
	-fx-font-size: 24px;
}

.login-text-field:hover {
	-fx-background-color: #222222;
}

.login-label-button {
	-fx-text-fill: #ffffff;
	-fx-underline: true;
	-fx-padding: 10px;
}

.login-label-button:hover {
	-fx-text-fill: #aaaaaa;
}

.login-label-button:pressed {
	-fx-text-fill: #555555;
}

#login-label {
	-fx-font-size: 24px;
	-fx-text-fill: white;
	-fx-font-weight: bold;
}

#login-seperator {
-fx-text-fill: #ffffff;
-fx-font-weight: bold;
}